body,h1,h2,h3,h4,h5,h6,p,input,ul,ol,li,dl,dt,dd,form{
	margin: 0;
	padding: 0;
	font: 12px 'microsoft yahei';
	color: #333333;
}
ul,ol,dl{
	list-style: none;
}
img,input{
	border: 0 none;
	vertical-align: middle;
}
input{
	outline-style: none;
}
a{
	text-decoration: none;
	color: #000;
	font-weight: 900;
}
a:hover{
	color: red !important;
}
em,i,del,s{
	font-style: normal;
	text-decoration: none;
}
.clearfix:after{
	display: block;
	content: '';
	height: 0;
	line-height: 0;
	visibility: hidden;
	clear: both;
}
.clearfix{
	zoom: 1;
}
.w{
	width: 1210px;
	margin: 0 auto;
}
.l{
	float: left;
}
.r{
	float: right;
}