@charset "utf-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 14px;
  font-family: "Microsoft YaHei", sans-serif;
  color: #333;
}
ul,
ol,
dl {
  list-style: none;
}
img {
  border: 0 none;
  vertical-align: top;
}
input,
textarea {
  border: 0 none;
  outline-style: none;
  resize: none;
  -webkit-webkit-appearance: none;
  -moz-webkit-appearance: none;
  -ms-webkit-appearance: none;
  -o-webkit-appearance: none;
  webkit-appearance: none;
}
a {
  text-decoration: none;
  color: #333;
}
/*版心*/
.w {
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  position: relative;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.l {
  float: left;
}
.r {
  float: right;
}
