<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>art-template</title>
</head>
<body>

  <ul id="ul1"></ul>
  <ul id="ul2"></ul>

  <!-- 原声语法 -->
  <script type="text/html" id="tpl">
    <% if (isShow) { %>
      <%= title %>
    <% } %>
    <% const obj = {a: 1, b: 2, c: 3} %>
    <% for (let i = 0; i < arr.length; i++) { %>
      <li data-val="<%= i%2 === 0 ? 0 : i %>">
        <%= obj[arr[i]] %>
      </li>
    <% } %>
    <p>$data: <%= $data %></p>
    <p>引入外部变量 $.map: <%= $.map([1, 2, 3], v => v * 2).join(',') %></p>
    <p><%= $imports.window.console.log('$imports 引入外部变量') %></p>
    <!-- 引入子模版 include -->
    <p>引入子模版 include: <% include('son') %></p>
    <p>默认做xss过滤: <%= '<span>标签元素</span>' %></p>
    <p>真实输出: <%=# '<span>标签元素</span>' %></p>
  </script>
  <!-- 子模版 -->
  <script type="text/html" id="son">
    <span><%= arr.join(',') %></span>
  </script>

  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <!-- 实时编译 -->
  <script src="../node_modules/art-template/lib/template-web.js"></script>
  <script>
    // 官网 http://aui.github.io/art-template/zh-cn/
    
    // 模板引擎内部 不可以使用 $ 等外部变量 但是可以引入
    template.defaults.imports.$ = $
    template.defaults.imports.window = window
    
    // 1. 通过 script标签模版 方式渲染
    const html = template('tpl', {
      isShow: true,
      title: '标题',
      arr: ['a', 'b', 'c']
    })
    $('#ul1').html(html)
    
    // 2. js中存放模版的 方式渲染
    const jsTpl = `
      <% for (var i = 0; i < list.length; i++) { %>
        <li><%= i + 1 %>: <%= list[i] %></li>
      <% } %>
    `
    const render = template.compile(jsTpl) // 得到模版的渲染函数 缓存模版
    const str = render({list: ['a', 'b', 'c']})
    $('#ul2').html(str)
    
  </script>
</body>
</html>
