<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>template</title>
</head>
<body>
  <ul id="ul1">
    
  </ul>
  
  <script type="text/html" id="tpl">
    <% for (var i = 0; i < a.length; i ++) { %>
      <li data-val="<%= i%2 == 0 ? 0 : i %>">
        <% if (i%2 == 0) { %>
          整除
        <% } else { %>
          不能整除
        <% } %>
      </li>
    <% } %>
  </script>

  <script src="./js/jquery.min.js"></script>
  <script src="./js/template-native.js"></script>
  <script>
    $(function () {
      var data = { // data中的直接成员 就是 template 的直接属性
        a: [1, 1, 1, 1],
        b: [1.1, 1.2, 1.3, 1.4]
      }
      // 模板引擎内部 不可以使用 $ 等外部函数 但是可以 引入
      template.helper('tpl', function () {
        return $;
      })
      // 模板引擎的调用和渲染
      $('#ul1').html(template('tpl',data));
    });
  </script>
</body>
</html>
