<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>wjs</title>
    <link href="./lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/index.css"/>
    <!--[if lt IE 9]>
    <script src="./lib/html5shiv/html5shiv.min.js"></script>
    <script src="./lib/respond/respond.min.js"></script>
    <![endif]-->
    <style>


    </style>
</head>
<body>
    <!--头部-->
    <header>
        <div class="container hidden-sm hidden-xs">
            <div class="col-xs-2">
                <a href="#" class="sj_wjs">
                    <p>
						<span class="wjs icon_shouji"></span>
	                    手机微金所
	                    <span class="glyphicon glyphicon-menu-down"></span>
                    </p>
                    <img src="./images/code.jpg" alt=""/>
                </a>
            </div>
            <div class="col-xs-5">
				<span class="wjs icon_da"></span>
            	4006-89-4006（服务时间：9:00-21:00）
            </div>
            <div class="col-xs-2">
				<a href="#">常见问题</a>
				<a href="#">财富登录</a>
            </div>
            <div class="col-xs-3">
				<a href="#" class="btn btn-default">免费注册</a>
				<a href="#" class="btn btn-login">登录</a>
            </div>
        </div>
    </header>
    <!--导航-->
	<div style="height:85px;width: 100%;">
		<nav class="navbar wjs_nav" data-spy="affix" data-offset-top="40">
		  <div class="container">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand logo" href="#">
				<span class="wjs icon_logo1"></span><span class="wjs icon_logo2"></span>
		      </a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">我要投资</a></li>
		        <li><a href="#">我要借贷</a></li>
		        <li><a href="#">平台介绍</a></li>
		        <li><a href="#">新手专区</a></li>
		        <li><a href="#">最新动态</a></li>
		        <li><a href="#">微平台</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
		        <li><a href="#">个人中心</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</div>
    <!--轮播图-->
    <div class="banner">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="1000">
			<!-- 点 -->
		  <ol class="carousel-indicators">
		    
		  </ol>
			<!-- 轮播img -->
		  <div class="carousel-inner">

		   		
		  </div>

		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		  </a>
		</div>
    </div>
    <!--支付保障-->
	<div class="bz hidden-xs">
		<div class="container">
			<a href="#" class="media col-md-4 col-sm-6">
			  <div class="media-left">
			    <span class="wjs icon_zf"></span>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">支付交易保障</h4>
			    <p>银联支付全称保证支付安全</p>
			  </div>
			</a>
			<a href="#" class="media col-md-4 col-sm-6">
			  <div class="media-left">
			    <span class="wjs icon_zf"></span>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">支付交易保障</h4>
			    <p>银联支付全称保证支付安全</p>
			  </div>
			</a>
			<a href="#" class="media col-md-4 col-sm-6">
			  <div class="media-left">
			    <span class="wjs icon_zf"></span>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">支付交易保障</h4>
			    <p>银联支付全称保证支付安全</p>
			  </div>
			</a>
			<a href="#" class="media col-md-4 col-sm-6">
			  <div class="media-left">
			    <span class="wjs icon_zf"></span>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">支付交易保障</h4>
			    <p>银联支付全称保证支付安全</p>
			  </div>
			</a>
			<a href="#" class="media col-md-4 col-sm-6">
			  <div class="media-left">
			    <span class="wjs icon_zf"></span>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">支付交易保障</h4>
			    <p>银联支付全称保证支付安全</p>
			  </div>
			</a>
			<a href="#" class="media col-md-4 col-sm-6">
			  <div class="media-left">
			    <span class="wjs icon_zf"></span>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">支付交易保障</h4>
			    <p>银联支付全称保证支付安全</p>
			  </div>
			</a>
		</div>
	</div>
    <!--立即预约-->
    <div class="container yy">
		<div class="pull-left">
			<p><span class="wjs icon_ss"></span>现在有 273 人在排队，累计预约交易成功 7571 次。 什么是预约投标？<a href="#">立即预约</a></p>
		</div>
		<div class="pull-right hidden-xs">
			<a href="#"><span class="wjs icon_sx"></span>微金所企业宣传片</a>
		</div>
    </div>
    <!--特别推选-->
    <div class="tb">
		<div class="container">
			<div class="overflow">
			  <ul class="nav tb-tabs">
			    <li role="presentation" class="active"><a href="#home1"  data-toggle="tab">特别推荐</a></li>
			    <li role="presentation"><a href="#home2" data-toggle="tab">微平台</a></li>
			    <li role="presentation"><a href="#home3" data-toggle="tab">微平台</a></li>
			    <li role="presentation"><a href="#home4" data-toggle="tab">微平台</a></li>
			    <li role="presentation"><a href="#home5" data-toggle="tab">微平台</a></li>
			    <li role="presentation"><a href="#home6" data-toggle="tab">微平台</a></li>
			    <li role="presentation"><a href="#home7" data-toggle="tab">微平台</a></li>
			  </ul>
			  <div class="tab-content clearfix">
			    <div class="tab-pane active" id="home1">
					<!-- 关联tap -->
					<div class="box col-md-4 col-sm-6 col-xs-12">
						<a href="#" class="f1">
							<em class="wjs ty"></em>
							<div class="pull-right">
								<p><span>8</span><span>%</span></p>
								<p>年利率</p>
							</div>
							<div class="l_tap">
								<h3>新手体验标1002期</h3>
								<div class="col-xs-6 pull-left">
									<p>起投金额(元)</p>
									<p>0.01万</p>
								</div>
								<div class="col-xs-6 pull-right">
									<p>起投金额(元)</p>
									<p>0.01万</p>
								</div>
								<div class="col-xs-6 pull-left">
									<p>起投金额(元)</p>
									<p>0.01万</p>
								</div>
								<div class="col-xs-6 pull-right">
									<p>起投金额(元)</p>
									<p>0.01万</p>
								</div>
							</div>
						</a>
					</div>
					<div class="box col-md-4 col-sm-6 col-xs-12">
						<a href="#">
							<div class="pull-right">
								<p class="red"><span>8</span><span>%</span></p>
								<p class="wy">
									<span data-toggle="tooltip" data-placement="top" title="微金宝">微</span>
									<span class="yyyy" data-toggle="tooltip" data-placement="bottom" title="河南省">豫</span>
								</p>
								<p>年利率</p>
							</div>
							<div class="l_tap">
								<h3>新手体验标1002期</h3>
								<div class="col-xs-6 pull-left">
									<p>起投金额(元)</p>
									<p>0.01万</p>
								</div>
								<div class="col-xs-6 pull-right">
									<p>起投金额(元)</p>
									<p>0.01万</p>
								</div>
								<div class="col-xs-6 pull-left">
									<p>起投金额(元)</p>
									<p>0.01万</p>
								</div>
								<div class="col-xs-6 pull-right">
									<p>起投金额(元)</p>
									<p>0.01万</p>
								</div>
							</div>
						</a>
					</div>
					<div class="box col-md-4 col-sm-6 col-xs-12">
						<a href="#">
							<div class="pull-right">
								<p class="red"><span>8</span><span>%</span></p>
								<p>年利率</p>
							</div>
							<div class="l_tap">
								<h3>新手体验标1002期</h3>
								<div class="col-xs-6 pull-left">
									<p>起投金额(元)</p>
									<p>0.01万</p>
								</div>
								<div class="col-xs-6 pull-right">
									<p>起投金额(元)</p>
									<p>0.01万</p>
								</div>
								<div class="col-xs-6 pull-left">
									<p>起投金额(元)</p>
									<p>0.01万</p>
								</div>
								<div class="col-xs-6 pull-right">
									<p>起投金额(元)</p>
									<p>0.01万</p>
								</div>
							</div>
						</a>
					</div>
					<div class="box col-md-4 col-sm-6 col-xs-12">
						<a href="#">
							<div class="pull-right">
								<p class="red"><span>8</span><span>%</span></p>
								<p>年利率</p>
							</div>
							<div class="l_tap">
								<h3>新手体验标1002期</h3>
								<div class="col-xs-6 pull-left">
									<p>起投金额(元)</p>
									<p>0.01万</p>
								</div>
								<div class="col-xs-6 pull-right">
									<p>起投金额(元)</p>
									<p>0.01万</p>
								</div>
								<div class="col-xs-6 pull-left">
									<p>起投金额(元)</p>
									<p>0.01万</p>
								</div>
								<div class="col-xs-6 pull-right">
									<p>起投金额(元)</p>
									<p>0.01万</p>
								</div>
							</div>
						</a>
					</div>
			    </div>
			    <div class="tab-pane" id="home2">2</div>
			    <div class="tab-pane" id="home3">3</div>
			    <div class="tab-pane" id="home4">4</div>
			    <div class="tab-pane" id="home4">5</div>
			    <div class="tab-pane" id="home4">6</div>
			    <div class="tab-pane" id="home4">7</div>
			  </div>
			</div>
		</div>
    </div>
    <!--全部新闻-->
	<div class="news">
		<div class="container">
		    <div class="col-md-2 col-md-offset-2 n_c col-xs-12">
				<h2>全部新闻</h2>
			</div>
			<div class="col-md-1 col-xs-12">
				<ul class="nav wjs-tabs">
				    <li class="active"><a href="#home" aria-controls="home" data-toggle="tab" class="wjs icon_qiu"></a></li>
				    <li><a href="#profile" aria-controls="profile" data-toggle="tab" class="wjs icon_bb2"></a></li>
				    <li><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="wjs icon_bb3"></a></li>
				    <li><a href="#settings" aria-controls="settings" data-toggle="tab" class="wjs icon_bb4"></a></li>
				</ul>
			</div>
			<div class="col-md-7 col-xs-12">
				<!--  -->
				<div class="tab-content">
				    <div class="tab-pane active" id="home">
						<ul class="news_ul">
							<li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
							<li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
							<li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
							<li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
							<li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
							<li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
							<li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
							<li><a href="#">2016-09-22【微还款】一周还款公告2016年1月18日-1月24日</a></li>
						</ul>
				    </div>
				    <div class="tab-pane" id="profile">2</div>
				    <div class="tab-pane" id="messages">3</div>
				    <div class="tab-pane" id="settings">4</div>
				</div>
			</div>
		</div>
	</div>
    <!--合作伙伴-->
	<div class="copy">
		<div class="container">
			<h3>合作伙伴</h3>
			<ul>
				<li><a href="#" class="wjs icon_copy1"></a></li>
				<li><a href="#" class="wjs icon_copy2"></a></li>
				<li><a href="#" class="wjs icon_copy3"></a></li>
				<li><a href="#" class="wjs icon_copy4"></a></li>
				<li><a href="#" class="wjs icon_copy5"></a></li>
				<li><a href="#" class="wjs icon_copy6"></a></li>
				<li><a href="#" class="wjs icon_copy7"></a></li>
				<li><a href="#" class="wjs icon_copy8"></a></li>
				<li><a href="#" class="wjs icon_copy9"></a></li>
			</ul>
		</div>
	</div>
<!-- 点 -->
<script type="text/html" id="dian">
	<% for(var i = 0; i < list.length; i++){ %>
		<li data-target="#carousel-example-generic" data-slide-to="<%=i%>" class="<%=i==0?'active':''%>"></li>
	<% } %>
</script>
<!-- 轮播图 -->
<script type="text/html" id="banner">
	<% for(var i = 0; i < list.length; i++){ %>
	<div class="item <%=i==0?'active':''%>">
		<% if(is){ %>
			<a href="#" class="m_img hidden-sm hidden-md hidden-lg">
				<img src="<%=list[i].m_img%>" alt="">
			</a>
		<% }else{ %>
			<a href="#" class="p_img hidden-xs" style="background-image: url(<%=list[i]['p_img']%>)"></a>
		<% } %>
	</div>
	<% } %>
</script>
<script src="./lib/jquery/jquery.min.js"></script>
<script src="./lib/iscroll/iscroll.js"></script>
<script src="./lib/bootstrap/js/bootstrap.min.js"></script>
<script src="./lib/artTemplate/template-native.js"></script>
<script src="./js/index.js"></script>
</body>
</html>