.webuploader-container {
    position: relative;
}
.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #00b7ee;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}
.webuploader-pick-hover {
    background: #00a2d4;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events:none;
}
/*自定义样式*/

.webuploader_defined .queueList {
    padding: 10px 10px 0;
}

.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}

.webuploader_defined .placeholder {
    border: 2px dashed #e6e6e6;
    padding-top: 160px;
    margin-bottom: 10px;
    text-align: center;
    background: url(./image.png) center 90px no-repeat;
    font-size: 18px;
    position: relative;
    color: #e6e6e6;
}

.webuploader_defined .placeholder .webuploader-pick {
    font-size: 18px;
    background: #00b7ee;
    border-radius: 3px;
    line-height: 44px;
    padding: 0 30px;
    display: inline-block;
    margin: 20px auto 6px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.webuploader_defined .placeholder .webuploader-pick-hover {
    background: #00a2d4;
}

.webuploader_defined .placeholder .flashTip {
    color: #666666;
    font-size: 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
}
.webuploader_defined .placeholder .flashTip a {
    color: #0785d1;
    text-decoration: none;
}
.webuploader_defined .placeholder .flashTip a:hover {
    text-decoration: underline;
}

.webuploader_defined .placeholder.webuploader-dnd-over {
    border-color: #999999;
}

.webuploader_defined .placeholder.webuploader-dnd-over.webuploader-dnd-denied {
    border-color: red;
}

.webuploader_defined .filelist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.webuploader_defined .filelist:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}

.webuploader_defined .filelist li {
    background: url(./bg.png);
    margin: 0 10px 10px 0;
    position: relative;
    display: inline;
    float: left;
}
/* 偶数li给margin 0 */
.webuploader_defined .filelist li:nth-child(2n) {
    margin: 0;
}
.webuploader_defined .filelist li p.log {
    position: relative;
    top: -45px;
}

.webuploader_defined .filelist li p.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
    text-align: center;
    margin: 0;
}

.webuploader_defined .filelist li p.progress {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 8px;
    overflow: hidden;
    display: none;
    z-index: 50;
    margin: 0;
}
.webuploader_defined .filelist li p.progress span {
    display: none;
    overflow: hidden;
    width: 0;
    height: 100%;
    background: #1483d8 url(./progress.png) repeat-x;

    -webit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    -ms-transition: width 200ms linear;
    transition: width 200ms linear;

    -webkit-animation: progressmove 2s linear infinite;
    -moz-animation: progressmove 2s linear infinite;
    -o-animation: progressmove 2s linear infinite;
    -ms-animation: progressmove 2s linear infinite;
    animation: progressmove 2s linear infinite;

    -webkit-transform: translateZ(0);
}

@-webkit-keyframes progressmove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 17px 0;
    }
}
@-moz-keyframes progressmove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 17px 0;
    }
}
@keyframes progressmove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 17px 0;
    }
}

.webuploader_defined .filelist li p.imgWrap {
    margin: 0;
    position: relative;
    z-index: 2;
    overflow: hidden;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
    -ms-transition: 200ms ease-out;
    transition: 200ms ease-out;
}

.webuploader_defined .filelist li img {
    width: 100%;
    vertical-align: top;
}

.webuploader_defined .filelist li p.error {
    background: #f43838;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 28px;
    line-height: 28px;
    width: 100%;
    z-index: 100;
    font-size: 12px;
    margin: 0;
}

.webuploader_defined .filelist li .success {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 200;
    background: url(./success.png) no-repeat right bottom;
}

.webuploader_defined .filelist div.file-panel {
    position: absolute;
    height: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000')\0;
    background: rgba( 0, 0, 0, 0.5 );
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 300;
}

.webuploader_defined .filelist div.file-panel span {
    width: 16px;
    height: 16px;
    display: inline;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    background: url(./icons.png) no-repeat;
    margin: 6px 13px 0 0;
    cursor: pointer;
}

.webuploader_defined .filelist div.file-panel span.rotateLeft {
    background-position: 0 -24px;
}
.webuploader_defined .filelist div.file-panel span.rotateLeft:hover {
    background-position: 0 0;
}

.webuploader_defined .filelist div.file-panel span.rotateRight {
    background-position: -24px -24px;
}
.webuploader_defined .filelist div.file-panel span.rotateRight:hover {
    background-position: -24px 0;
}

.webuploader_defined .filelist div.file-panel span.cancel {
    background-position: -48px -24px;
}
.webuploader_defined .filelist div.file-panel span.cancel:hover {
    background-position: -48px 0;
}

.webuploader_defined .statusBar {
    height: 63px;
    border-top: 1px solid #dadada;
    line-height: 63px;
    position: relative;
}

.webuploader_defined .statusBar .progress {
    margin: 23px 0 0 18px;
    border: 1px solid #1483d8;
    width: 198px;
    background: #fff;
    height: 18px;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #6dbfff;
    position: relative;
    margin-right: 10px;
}
.webuploader_defined .statusBar .progress span.percentage {
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: #1483d8;
    position: absolute;
}
.webuploader_defined .statusBar .progress span.text {
    position: relative;
    z-index: 10;
}

.webuploader_defined .statusBar .info {
    display: inline-block;
    font-size: 14px;
    color: #666666;
    display: none;
}

.webuploader_defined .statusBar .btns {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 40px;
    text-align: center;
    padding-top: 11px;
}

.webuploader_defined .filePicker2 {
    display: inline-block;
    height: 42px;
    overflow: hidden;
}

.webuploader_defined .statusBar .btns .webuploader-pick,
.webuploader_defined .statusBar .btns .uploadBtn,
.webuploader_defined .statusBar .btns .uploadBtn.state-uploading,
.webuploader_defined .statusBar .btns .uploadBtn.state-paused {
    background: #ffffff;
    border: 1px solid #cfcfcf;
    color: #565656;
    padding: 0 18px;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    /*float: left;*/
}
.webuploader_defined .statusBar .btns .webuploader-pick-hover,
.webuploader_defined .statusBar .btns .uploadBtn:hover,
.webuploader_defined .statusBar .btns .uploadBtn.state-uploading:hover,
.webuploader_defined .statusBar .btns .uploadBtn.state-paused:hover {
    background: #f0f0f0;
}

.webuploader_defined .statusBar .btns .uploadBtn {
    margin-left: 10px;
    vertical-align: top;
    background: #00b7ee;
    color: #fff;
    border-color: transparent;
}
.webuploader_defined .statusBar .btns .uploadBtn:hover {
    background: #00a2d4;
}

.webuploader_defined .statusBar .btns .uploadBtn.disabled {
    pointer-events: none;
    opacity: 0.6;
}
