<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="blue" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta name="keywords" content="乐淘 乐淘鞋城 买鞋子 上乐淘 运动鞋 篮球鞋 帆布鞋 跑步鞋 男鞋 女鞋 足球鞋 休闲鞋 凉鞋 户外鞋 布洛克 高跟鞋 单鞋 豆豆鞋 乐福鞋 牛津鞋 凉拖 皮鞋 短靴 长靴 登山鞋 徒步鞋 硫化鞋 训练鞋 溯溪鞋 越野鞋 板鞋 足球鞋 网球鞋 赛车鞋 雪地靴 马丁靴 商务 英伦">
	<meta name="description" content="乐淘是中国最大的正品运动鞋、皮鞋网上专卖。乐淘网经营的品牌包括耐克、阿迪达斯、李宁、匡威等国内外知名品牌的篮球鞋,板鞋,休闲鞋,跑步鞋,帆布...">
	<title>搜索中心</title>
	<link rel="icon" href="images/favicon.ico">
	<link rel="stylesheet" href="./bli/fontAwesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="./bli/mui/css/mui.min.css">
	<link rel="stylesheet" href="./css/reset.css">
	<link rel="stylesheet" href="./css/common.css">
	<link rel="stylesheet" href="./css/search.css">
	<link rel="stylesheet" href="./css/searchList.css">
</head>
<body>
		<!-- 顶部 -->
		<header class="tou">
			<h3><a href="javascript:history.back();" class="back fa fa-arrow-left"></a>搜索中心</h3>
		</header>
		<!-- 主体 -->
		<section class="box">
			<div class="main">
				<div class="mui-scroll-wrapper"  id="refreshContainer">
				<div class="mui-scroll">
					<div class="search">
						<form action="">
							<input type="text" placeholder="搜索你喜欢的商品">
								<a href="javascript:;">搜索</a>
						</form>
					</div>
					<!-- 上架时间 -->
					<div class="shangjia">
						<ul class="mui-clearfix">
							<li><a href="#">上架时间 <span class="fa fa-angle-down" data-name="tiem"></span></a></li>
							<li><a href="#">价格 <span class="fa fa-angle-down" data-name="price"></span></a></li>
							<li><a href="#">销量 <span class="fa fa-angle-down" data-name="num"></span></a></li>
							<li><a href="#">折扣 <span class="fa fa-angle-down" data-name="zekou"></span></a></li>
						</ul>
					</div>
					<!-- 商品 -->
						<div class="shangpin">
							<ul>
								<!-- data -->
							</ul>
						</div>

				</div>
				</div>
			</div>
		</section>
		<!-- 尾部 -->
		<footer class="mui-clearfix">
			<ul>
				<li><a href="./index.html">
						<span class="fa fa-home"></span>
						<p>首页</p>
					</a></li>
				<li><a href="./fenlei.html">
						<span class="fa fa-bars"></span>
						<p>分类</p>
					</a></li>
				<li><a href="./user/cart.html">
						<span class="fa fa-shopping-cart"></span>
						<p>购物车</p>
					</a></li>
				<li><a href="./huiyuan.html">
						<span class="fa fa-user"></span>
						<p>会员中心</p>
					</a></li>
			</ul>
		</footer>

	<script type="text/template" id="tpl1">
			<% for(var i = 0; i < data.length; i++){ %>
			<li>
				<% var img = data[i].pic; %>
				<a href="./product.html?id=<%=data[i].id%>">
					<% if(img && img.length!=0){ %>
						<img src="<%=img[0].picAddr%>">
					<% }else{ %>
						<img src="./images/none.jpg">
					<% } %>
					<p class="mui-ellipsis-2"><%=data[i].proName%></p>
					<p><span>&yen;<%=data[i].price%></span><span>&yen;<%=data[i].oldPrice%></span></p>
					<button class="button">立即购买</button>
				</a>
			</li>
			<% } %>
	</script>

	<script src="./bli/artTemplate/template-native.js"></script>
	<script src="./bli/mui/js/mui.min.js"></script>
	<script src="./bli/zepto/zepto.min.js"></script>
	<script src="./js/common.js"></script>
	<script src="./js/searchList.js"></script>
</body>
</html>