<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>performance</title>
  <link rel="stylesheet" href="/test1.css">
</head>
<body>
  <button id="btn">获取性能相关数据</button>
  <div id="app">
    <ul v-if="list.length">
      <li v-for="({ name, url }, i) of list">
        <p>{{ name }}</p>
        <img :src="url" alt="mv" height="200" />
      </li>
    </ul>
    <img src="https://s1.ax1x.com/2020/08/04/aDRO6H.jpg" alt="tp" />
  </div>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
  <script src="/test1.js"></script>
  <script src="/test2.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        list: []
      },
      async created() {
        console.time('list 请求时间')
        const { code, data } = await fetch('/list').then(res => res.json())
        console.timeLog('list 请求时间')
        this.list = data
        console.log(this.list)
      },
      methods: {
        a: () => {
          console.log('a')
        }
      }
    })

    // 记录性能相关
    function getPerformanceInfo() {
      try {
        const res = {}

        const { timing } = window.performance
        const {
          navigationStart,
          redirectStart,
          redirectEnd,
          fetchStart,
          domainLookupStart,
          domainLookupEnd,
          connectStart,
          secureConnectionStart,
          connectEnd,
          requestStart,
          responseStart,
          responseEnd,
          domLoading,
          domInteractive,
          domContentLoadedEventStart,
          domContentLoadedEventEnd,
          domComplete,
          loadEventStart,
          loadEventEnd,
        } = timing

        // 参考 https://developer.mozilla.org/zh-CN/docs/Web/API/PerformanceTiming
        // console.log('navigationStart', navigationStart, '从同一个浏览器上下文的上一个文档卸载时间戳，如果没有上一个文档与fetchStart相同')
        // console.log('redirectStart', redirectStart, '第一个HTTP重定向开始时的时间戳。如果没有重定向，或者重定向中的一个不同源，这个值会返回0')
        // console.log('redirectEnd', redirectEnd, '最后一个HTTP重定向完成时时间戳。如果没有重定向，或者重定向中的一个不同源，这个值会返回0')
        // console.log('fetchStart', fetchStart, '浏览器准备好使用HTTP请求来获取(fetch)文档')
        // console.log('domainLookupStart', domainLookupStart, 'DNS域名查询开始的时间，如果使用了本地缓存话或持久链接，与fetchStart值相同')
        // console.log('domainLookupEnd', domainLookupEnd, 'DNS域名查询完成的时间，如果使用了本地缓存话或持久链接，与fetchStart值相同')
        // console.log('connectStart', connectStart)
        // console.log('secureConnectionStart', secureConnectionStart)
        // console.log('connectEnd', connectEnd)
        // console.log('requestStart', requestStart)
        // console.log('responseStart', responseStart)
        // console.log('responseEnd', responseEnd)
        // console.log('domLoading', domLoading, '当前网页DOM结构开始解析时（即Document.readyState属性变为“loading”、相应的 readystatechange事件触发时）时间戳')
        // console.log('domInteractive', domInteractive, '当前网页DOM结构结束解析、开始加载内嵌资源时（即Document.readyState属性变为“interactive”、相应的readystatechange事件触发时）时间戳')
        // console.log('domContentLoadedEventStart', domContentLoadedEventStart, '解析器发送DOMContentLoaded 事件，即所有需要被执行的脚本已经被解析时的时间戳')
        // console.log('domContentLoadedEventEnd', domContentLoadedEventEnd, '当所有需要立即执行的脚本已经被执行（不论执行顺序）时的时间戳')
        // console.log('domComplete', domComplete, '当前文档解析完成，即Document.readyState 变为 complete且相对应的readystatechange 被触发时的时间戳')
        // console.log('loadEventStart', loadEventStart, 'load事件被发送时的Unix毫秒时间戳。如果这个事件还未被发送，它的值将会是0')
        // console.log('loadEventEnd', loadEventEnd, 'load事件结束，即加载事件完成时的Unix毫秒时间戳。如果这个事件还未被发送，或者尚未完成，它的值将会是0')

        res.timing = timing
        
        res.page = {
          '1 重定向耗时': redirectEnd - redirectStart,
          '2 DNS查询耗时': domainLookupEnd - domainLookupStart,
          '3 TCP耗时': connectEnd - connectStart,
          '4 页面请求 时间': responseEnd - requestStart,
          '5 解析dom、加载内嵌资源、执行同步代码的时间': domContentLoadedEventEnd - responseEnd,
          '6 白屏时间 蓝线DCL DOMContentLoaded的时间 包括 页面请求、解析dom、加载内嵌资源、执行同步代码的时间': domContentLoadedEventEnd - navigationStart,
          '7 首屏时间 红线LCP onload的时间 页面“初始化”资源全部加载完成 包括 蓝线DCL + 如图片资源下载完成，不包括异步代码如ajax请求的数据渲染等': loadEventEnd - navigationStart,
        }

        // 获取资源 script link 图片 fetch
        const resources = performance.getEntriesByType('resource')

        res.resources = resources
        res.res = {}

        if (resources && resources.length > 0) {
          for (const { name, responseEnd, requestStart, startTime, decodedBodySize, transferSize } of resources) {
            res.res[name] = {
              '1 资源加载时间': responseEnd - requestStart,
              '2 资源时间（由于资源的优先级包括排队等时间）': responseEnd - startTime,
              '3 资源真实大小 decodedBodySize': decodedBodySize,
              '4 资源传输大小 transferSize': transferSize,
            }
          }
        }

        return res
      } catch (err) {
        console.error(err)
      }
    }

    document.getElementById('btn').addEventListener('click', () => {
      console.log(getPerformanceInfo())
    })
    
    // onload事件没有触发 loadEventStart为0 最起码发请求的实际是onload事件 但是对于vue react 初始异步发请求渲染第一屏
    console.log(JSON.parse(JSON.stringify(getPerformanceInfo())))
    window.addEventListener('load', () => console.log(getPerformanceInfo()))
  </script>
</body>
</html>