.react {
  background-color: green;
  transition: all 1s linear;

  &-entering {
    background-color: rgb(255, 0, 255);
  }

  &-entered {
    background-color: red;
  }

  &-exiting {
    background-color: rgb(0, 255, 255);
  }

  &-exited {
    background-color: blue;
  }
}