<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="blue" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta name="keywords" content="乐淘 乐淘鞋城 买鞋子 上乐淘 运动鞋 篮球鞋 帆布鞋 跑步鞋 男鞋 女鞋 足球鞋 休闲鞋 凉鞋 户外鞋 布洛克 高跟鞋 单鞋 豆豆鞋 乐福鞋 牛津鞋 凉拖 皮鞋 短靴 长靴 登山鞋 徒步鞋 硫化鞋 训练鞋 溯溪鞋 越野鞋 板鞋 足球鞋 网球鞋 赛车鞋 雪地靴 马丁靴 商务 英伦">
	<meta name="description" content="乐淘是中国最大的正品运动鞋、皮鞋网上专卖。乐淘网经营的品牌包括耐克、阿迪达斯、李宁、匡威等国内外知名品牌的篮球鞋,板鞋,休闲鞋,跑步鞋,帆布...">
	<title>琦淘-购物车</title>
	<link rel="icon" href="../images/favicon.ico">
	<link rel="stylesheet" href="../bli/fontAwesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../bli/mui/css/mui.min.css">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/cart.css">
</head>
<body>
		<!-- 顶部 -->
		<header class="tou">
			<h3><a href="javascript:history.back();" class="back fa fa-arrow-left"></a>
			购物车<a href="javascript:;" class="reset mui-icon mui-icon-loop"></a></h3>
		</header>
		<!-- 主体 -->
		<section class="box">
			<div class="main">
				<div class="mui-scroll-wrapper">
					<div id="popover" class="mui-scroll">
						<ul class="mui-table-view">
							<!-- li -->
						 </ul>
					</div>
				</div>
			</div>
		</section>
		<!-- 生成订单 -->
		<div class="shengcheng">
			<div class="l">
				订单总额：&yen;<span>0.00</span>
			</div>
			<a href="#">生成订单</a>
		</div>
		<!-- 尾部 -->
		<footer class="mui-clearfix">
			<ul>
				<li><a href="../index.html">
						<span class="fa fa-home"></span>
						<p>首页</p>
					</a></li>
				<li><a href="../fenlei.html">
						<span class="fa fa-bars"></span>
						<p>分类</p>s
					</a></li>
				<li><a href="./cart.html" class="now">
						<span class="fa fa-shopping-cart"></span>
						<p>购物车</p>
					</a></li>
				<li><a href="../huiyuan.html">
						<span class="fa fa-user"></span>
						<p>会员中心</p>
					</a></li>
			</ul>
		</footer>

	<script type="text/template" id="li">
		<% for(var i = 0; i < data.length; i++){ 
			if(!data[i].pic || data[i].pic.length==0){
				data[i].pic =  [{picAddr:'/zhaoqi-m/images/none.jpg'}];
			}
		%>
			<li class="mui-table-view-cell mui-media">

				<div class="mui-slider-right mui-disabled">
					<a class="mui-btn mui-btn-blue mui-icon mui-icon-compose" data-size="<%=data[i].productSize%>"></a>
					<a class="mui-btn mui-btn-red mui-icon mui-icon-trash" data-id="<%=data[i].id %>"></a>
				</div>

				<div class="mui-slider-handle">
					<div class="mui-table-cell">

						<a href="javascript:;">
							<div class="l">
								<img width="60" height="60" src="<%=data[i].pic[0].picAddr%>">
								<input type="checkbox" data-id="<%=data[i].id %>">
							</div>	
							<div class="mui-media-body">
								<%=data[i].proName%>
								<p class="mui-ellipsis"><span>&yen;<%=data[i].price%></span><span>&yen;<%=data[i].oldPrice%></span><span class="s_l">X<%=data[i].num%>双</span></p>
								<p>鞋码：<span class="x_m"><%=data[i].size%></span></p>
							</div>
						</a>

					</div>
				</div>
				
			</li>
		<% } %>
	</script>
	<!-- 商品编辑 -->
	<script type="text/template" id="cm">
			
			<p class="cm">
				<span>尺码：</span>
				<% var a = productSize.split('-');
					for(var i = a[0]; i <= a[1]; i++){
				 %>
				<span class="<%=i==size?'now':''%>"><%=i%></span>
				<% } %>
			</p>
			<p class="sl">
				<span>数量：</span>
				<span class="jian">-</span>
				<input readonly type="text" value="<%=num%>" data-productNum="<%=productNum%>">
				<span class="jia">+</span>
			<p>

	</script>

	<script src="../bli/artTemplate/template-native.js"></script>
	<script src="../bli/mui/js/mui.min.js"></script>
	<script src="../bli/zepto/zepto.min.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/cart.js"></script>
</body>
</html>