<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    {% block header %}<h3>头部</h3>{% endblock %}
    {% block body %}<p>主体部分</p>{% endblock %}
    {% block footer %}<h3>尾部</h3>{% endblock %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    {% block script %}{% endblock %}
</body>
</html>